#page-landing {
    background: linear-gradient(329.54deg, #22223b 0%, #0b090a 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing a {

    color: white;
    text-decoration: none; /* no underline */

}

#page-landing .content-wrapper{
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    max-height: 680px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.content-wrapper main h1 {
    max-width: 350px;
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;
}

.content-wrapper main p {
    max-width: 350px;
    margin-top: 40px;
    font-size: 24px;
    line-height: 34px;
}

.content-wrapper .auth {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    text-align: right;
    
}

.content-wrapper .auth strong {
    font-weight: 800;
    margin-right: 25px;
}

.content-wrapper .enter-app {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 80px;
    height: 80px;
    background-color:#0b090a;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover {
    background-color: #c41000;
} 


#page-landing img {
    width: 200px;
    height: 2000px;
}